[submodule "actor-framework"]
	path = deps/actor-framework
	url = https://github.com/actor-framework/actor-framework
[submodule "deps/actor-framework"]
	path = deps/actor-framework
	url = https://github.com/actor-framework/actor-framework
